@{
    Layout = "_Layout";
  }
  
  @model Sweets.Models.Treat
  
  <h4>Add a new Treat</h4>
  @using (Html.BeginForm())
  {
      @Html.LabelFor(model => model.TreatName)
      @Html.TextBoxFor(model => model.TreatName)
      <hr>
    <label for="Flavour1">Flavour 1: </label>
    <input id='Flavour1' name='Flavour1' type='text'>
    <br>
     <label for="Flavour2">Flavour 2: </label>
    <input id='Flavour2' name='Flavour2' type='text'>
    <br>
     <label for="Flavour3">Flavour 3: </label>
    <input id='Flavour3' name='Flavour3' type='text'>
    <br>
    <label for="flavour4">Flavour 4: </label>
    <input id='Flavour4' name='Flavour4' type='text'>
    <br>

      <input type="submit" value="Add new treat" />
  }
  <hr>
  <button><p>@Html.ActionLink("Show all Treats", "Index")</p></button>
  
