@{
    Layout = "_Layout";
  }
  
  @model Sweets.Models.Treat
  
  <h4>Add a new Treat</h4>
  @using (Html.BeginForm())
  {
      @Html.LabelFor(model => model.TreatName)
      @Html.TextBoxFor(model => model.TreatName)
      <hr>
    <label for="Flavour1">Flavour 1: </label>
    <input id='Flavour1' name='Flavour1' type='text'>
    <br>
     <label for="flavour2">Flavour 2: </label>
    <input id='flavour2' name='flavour2' type='text'>
    <br>
     <label for="flavour3">Flavour 3: </label>
    <input id='flavour3' name='flavour3' type='text'>
    <br>
    <label for="flavour4">Flavour 4: </label>
    <input id='flavour4' name='flavour4' type='text'>
    <br>

      <input type="submit" value="Add new treat" />
  }
  <p>@Html.ActionLink("Show all treats", "Index")</p>