@{
  Layout = "_Layout";
  List<Flavour> Flavours = ViewBag.Flavours as List <Flavour>;
}

@model Sweets.Models.Treat;

<h2>Treats</h2>
<hr>
<h3>@Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.TreatName)</h3>
<hr>
<h4>Flavours in this treat are: </h4>

@if (Flavours.Count == 0)
{
  <h3>No Flavour have been added yet!</h3>
} 
  <ul>
  @foreach(Flavour flavour in Flavours)
  {
    <li>@flavour.FlavourName</li>
  }
  </ul>
  <button><p>@Html.ActionLink("Back to Treats", "Index")</p></button>