@{
  Layout = "_Layout";
  List<Flavour> Flavours = ViewBag.Flavours as List <Flavour>;
}

@model Sweets.Models.Treat;

<h2>Treats</h2>
<hr/>
<h3>@Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.TreatName)</h3>


  <h4>Flavours in this treat is</h4>
  <ul>
  @foreach(Flavour flavour in Flavours)
  {
    <li>@flavour.FlavourName</li>
  }
  </ul>