@{
  Layout = "_Layout";
  List<Treat> Treats = ViewBag.Treats as List <Treat>;
}

@model Sweets.Models.Flavour;

<h2>Flavour</h2>
<hr/>
<h3>@Html.DisplayNameFor(model => model.FlavourName): @Html.DisplayFor(model => model.FlavourName)</h3>


  <h4>Treats in this flavour is</h4>
  <ul>
  @foreach(Treat treat  in Treats)
  {
    <li>@treat.TreatName</li>
  }
  </ul>
  <p>@Html.ActionLink("Edit Flavour", "Edit", new { id = Model.FlavourId })</p>